@import './jsoneditor-inline-svg.css';

.flex-container {
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
}
  
.flex-container > .editor {
    height: 96vh;
    flex-basis: 50%;
    padding : 0px 10px 0px 10px
}

.flex-container > .button-column {
    height: 96vh;
    flex-basis: 1%;
}

button{
    display: block;
    margin: 25px auto 25px auto;
}

.button-image{
    width: 24px;
    height: 24px;
}

.image-right{
    background: var(--main-svg) 0 -48px;
}

.image-left{
    background: var(--main-svg) -24px -48px;
}

.image-help{
    background: var(--main-svg) -168px -48px;
}