<div class="container">
  <form class="form">
    <div class="row">
      <mat-form-field class="input">
        <mat-select name="taskx" placeholder="Task" [(ngModel)]="task" (ngModelChange)="ngModelChange($event)">
          <mat-option value="none">None</mat-option>
          <mat-option *ngFor="let taskx of tasks" [value]="taskx">
            {{taskx}}
          </mat-option>
          <mat-option value="addNew">Add New...</mat-option>
        </mat-select>
      </mat-form-field>
    </div>

    <div class="row">
      <mat-form-field class="input">
        <input name="timeFormatted" matInput placeholder="Time" [(ngModel)]="timeFormatted">
      </mat-form-field>
    </div>

    <div class="row">
      <span class="button-padding">
        <button class="button-flex" mat-raised-button type="button" (click)="submit()">Submit</button>
      </span>
      <span class="button-padding">
        <button class="button-flex" mat-raised-button type="button" (click)="list()">List</button>
      </span>
      <span class="button-padding">
        <button class="button-flex" mat-raised-button type="button" (click)="reset()">Reset</button>
      </span>
      <!-- <span class="button-padding">
      <button mat-raised-button type="button" (click)="debug()">Debug</button>
    </span> -->

    </div>
  </form>
</div>